/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Colors
// Set the project colors here

$color-red: #FF0000;
$color-gray: #EEEEEE;
$color-gray-dark: #B0B0B0;
$color-gray-light: #f9f5f4;
$color-gray-bg: #ededed;
$color-white: #fff;
$color-black: #000;
$color-blue: #02e2fe;
$color-dark-blue: #213d7c;
$color-purple: #61216f;
$color-pink: #c805ef;