/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Fonts
// Set the project fonts here

@include font-face("BebasNeueBold", "../../../fonts/BebasNeueBold", null, null, eot woff ttf svg);
@include font-face("BebasNeueLight", "../../../fonts/BebasNeueLight", null, null, eot woff ttf svg);
@include font-face("BebasNeueRegular", "../../../fonts/BebasNeueRegular", null, null, eot woff ttf svg);
@include font-face("Neoneon", "../../../fonts/Neoneon", null, null, eot woff ttf svg);

$font-primary       : 'BebasNeueRegular', sans-serif;
$font-primary-bold  : 'BebasNeueBold', sans-serif;
$font-primary-light : 'BebasNeueLight', sans-serif;
$font-secondary     : 'Neoneon', sans-serif;
$font-tertiary      : 'Open Sans', sans-serif;