<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="<%=path%>assets/css/src/pages/index.css">
<div class="jumbotron text-center">
    <h1>Produtos</h1>
    <a href="/product/list">Gerência de Produtos</a>
    <h1>Usuários</h1>
    <a href="/user/list">Gerência de Usuários</a>
</div>