<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="<%=path%>assets/css/src/pages/index.css">
<div class="jumbotron text-center">
    <h1>Produtos</h1>
    <a href="/products/list">Gerência de Produtos</a>
</div>