/// Sass Home Page
/// @author Diogo Cezar <diogo@diogocezar.com>

// Charset
@charset 'utf-8';

// Imports
@import '../base/includes/mixins.scss';
@import '../base/includes/sizes.scss';
@import '../base/includes/colors.scss';

.color{
	color:red;
}